.resume {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  word-wrap: break-word;
  word-break: keep-all;
  line-height: 1.8
}

.blue {
  color: #3c78d8;
}

.gray {
  color: gray;
}

.profile-img {
  max-height: 320px;
}

.footer-cover {
  background-color: #f5f5f5;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  height: 80px;
}

.footer {
  padding-top: 10px;
}
